/* workspace */
#projectWorkspace {
    -fx-padding: 4 4 4 4;
}

#projectExpand {
    -fx-background-size: 92%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 2 2 2 2;
}

#projectCollapse {
    -fx-background-size: 92%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 2 2 2 2;
}

#projectTree {
}