/* workspace */
#projectWorkspace {
    -fx-padding: 4 4 4 4;
}

#projectExpand {
    -fx-background-size: 92%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 2 2 2 2;
}

#projectCollapse {
    -fx-background-size: 92%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 2 2 2 2;
}

.code-area .paragraph-box .text {
    -fx-font-size: 14px;
}

.project-tree-drag-over-file {
    -fx-border-width: 0 0 2 0;
    -fx-border-style: SOLID;
}

.project-tree-drag-over-dir {
    -fx-border-width: 2 2 2 2;
    -fx-border-style: SOLID;
}

.button-save-dirty {
    -fx-background-color: tan;
}